{% extends "base.html" %}

{% block content %}
    

    <h2>Register</h2>

    <form action="/register" method="post">
        <table>
                <tr>
                        <label>
                                <td>Username</td>
                                <td><input type="text" name="username" maxlength="30"/></td>
                        </label>
                </tr>
                <tr>
                    <label>
                        <td>Password</td>
                        <td><input type="password" name="password" maxlength="30"/></td>
                    </label>
                </tr>
                <tr>
                    <label>
                        <td>Confirm Password</td>
                        <td><input type="password" name="verify" maxlength="30"/></td>
                    </label>
                </tr>
        </table>
        <input type="submit" value="Login"/>
    </form>



{% endblock %}